---
layout: 'base.njk'
emoji: 🌌

---


    
        <section class="individual-article">
            <h1>{{title}}</h1>
            
            <div class="content-indi">
                <div class="indi-text">
                    <p class="main-content">
                        {{content | safe }}
                    </p>

                </div>
                <div class="main-image">
                    <img src="{{image}}" alt="this is a test" class="article-indi-image">
                </div>
            </div>
        </section>
    

    
