    <header>
        <div class="logo">
            <a href="#"><h4>Suraj Kandlakunta</a></h4>
        </div>
        <!--<nav>
            <ol>
                <li><a href="./story/">Stories</a></li>

            </ol>
        </nav>-->
    </header>
