    <header>
        <div class="logo">
            <a href="https://spectrum-test.netlify.app/"><h4>Spectrum</a></h4>
        </div>
        <nav>
            <ol>
                <li><a href="./story/">Stories</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Submit</a></li>
            </ol>
        </nav>
    </header>
