---
title: Suraj Kandlakunta | Blog
layout: 'base.njk'
emoji: ✍

---

    <section class="heading">
        <h1>Suraj's Blog</h1>
    </section>

    <main>

        

    
        <section class="articles story"> 

            {%- for post in collections.post | reverse -%}
           
            {% include 'article-r.njk' %}

            {%- endfor %}  
  
        </section>


    </main> 


<!--

<div class="article-one article-layout">
                <div class="article-content">
                    <div class="article-text">
                        <a href="./individual-article/"><h2>Test Article Title - One</h2></a>
                        <p class="date">04 August 2021</p>
                        <p>
                            Here goes the description of the test article which gives an overview of the article people are about to read. The author of this article should be writing this description.
                        </p>
                        <a href="./individual-article/">
                        <button class="cta-main cta-article">
                            Read More
                        </button>
                        </a>
                    </div>
                </div>
                <div class="article-image">
                    <img src="./assets/article-one-image.jpg/" alt="this is a test" class="article-one-image">
                </div>
            </div>
    
            <div class="article-two article-layout">
                <div class="article-content">
                    <div class="article-text">
                        <a href="#"><h2>Test Article Title - Two</h2></a>
                        <p class="date">04 August 2021</p>
                        <p>
                            Here goes the description of the test article which gives an overview of the article people are about to read. The author of this article should be writing this description.
                        </p>
                        <a href="#">
                        <button class="cta-main cta-article">
                            Read More
                        </button>
                        </a>
                    </div>
                </div>
                <div class="article-image">
                    <img src="https://source.unsplash.com/user/erondu/500x300" alt="this is a test">
                </div>
            </div>

            <div class="article-two article-layout">
                <div class="article-content">
                    <div class="article-text">
                        <a href="#"><h2>Test Article Title - Three</h2></a>
                        <p class="date">04 August 2021</p>
                        <p>
                            Here goes the description of the test article which gives an overview of the article people are about to read. The author of this article should be writing this description.
                        </p>
                        <a href="#">
                        <button class="cta-main cta-article">
                            Read More
                        </button>
                        </a>
                    </div>
                </div>
                <div class="article-image">
                    <img src="https://source.unsplash.com/user/erondu/likes/500x300" alt="this is a test">
                </div>
            </div>
    
-->
